<!DOCTYPE HTML>
<html>
<head>
    <title>Fist Spring Web Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!--페이지 로딩 속도를 높이기위헤ㅈ css는 header에 js는footer에 나눠 놨다.-->